version=1
contact=
pgpid=
notary.protocol=Default
replicates.uri=
replicates.probability=
publickey=MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAm0kEKvDxaS85dEL1suhHo7aNLGaLQa/dXvcv0P2rqd1gE6/QYy/mcoESIGNixKG+0wiQgrbDhdlSTaZVPLwD50X6PybWYOx3DbYbWtxav2ElkRfZ0FPkMfKQ5abnySgUZ12jZXSJyJb0jROTGS5DQCcQj+DDAJJMkc32oDnbCTw+HWm6HWg8ZXJ8GRY77GYEduokGMQdalsjRztmTqWAaYv7NWlCjjlzyZ5ic2UW5A6NZBKN3cuKHyTy8T5u5fTBY8x/jricHtp/2m7++TE/ZA7qdGgQ6l1rO4YetW+UZDNkE2bbHW+0RVr42hie41z5q15w0sDLYV5TqlRru8IA815Dxffe2KqhkYfq968twSI+JjELk7icqrkTx+dGUTi4VRvMbbH7z4PULjqTWfOIsLqu4YljI1lXQm68rJqp+ZXCuoL3dVMBJsea4J1fb6tX7r/uGLrS26Nr4K0IbW961N9QyJnfrR0X2XHfmYU9Ry+/7K6C1+aACYPDbzkL6tFXtnK77YdxbsWjjIq4rj4fTyLuqdDzS2iPox/yDAvd9AGiHQtWUdgV1LQnG6IcaByccWuNlYvT+LlLQmUWcHF3QgO6TVg9uHCinfyp7QOyvvvsb0XytZcFYPpAOB8kgX2SC7cWjx0C32zLccyOWOSwPTBfjYDDuaEKRudNzrNGy6ECAwEAAQ==
publickey.validity=1432590042

